body.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

body.dark-mode .header i {
  color: #fff;
  font-size: 35px;
  transition: color 0.3s;
}


.body.dark-mode .header i {
  color: #fff;
}

.body.dark-mode h1 {
  color: red;
}

.body.dark-mode textarea,
.body.dark-mode .desencriptar {
  background-color: #1d1d1d;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 15px 7px aqua;
}

.dark-mode h1 {
  color: red;
  font-size: 3rem;
  font-weight: bold;
  padding: 5px;
}

.dark-mode .light:hover i {
  text-shadow: 0 0 11px rgb(0, 255, 255), 0 0 20px rgb(0, 255, 255), 0 0 30px rgb(0, 255, 255);
  transition: color 0.3s, text-shadow 0.3s;
}

.dark-mode p {
  color: #fff;
}

.dark-mode button {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 17px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  font-weight: bold;
  border-radius: 16px;
  transition: all 0.4s ease 0s;
  background: linear-gradient(50deg, rgb(2, 0, 36) 0%, rgb(10, 77, 104) 50%, rgb(0, 212, 255) 100%);
}

.dark-mode button:hover {
  box-shadow: 0 0 9px 6px aqua;
}

.dark-mode ::placeholder {
  color: #fff;
}

.dark-mode textarea,
.dark-mode .desencriptar {
  display: flex;
  justify-content: center;
  font-size: 17px;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  width: 400px;
  height: 300px;
  font-family: 'Source Code Pro', monospace, sans-serif;
  border: 2px solid #fff;
  backdrop-filter: blur(190px) saturate(190%);
  -webkit-backdrop-filter: blur(18px) saturate(190%);
  background-color: #1d1d1d;
  border-radius: 16px;
  box-shadow: 0 0 12px 6px #00ffff;
  margin: 20px;
  resize: none;
}

.logo-footer {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(6deg) brightness(101%) contrast(104%) drop-shadow(0 0 15px);
  padding: 0 24px;
}

.logo-footer:hover {
  filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%);
  transform: scale(1.5);
}


.dark-mode #resultado {
  font-size: 1.1em;
  color: #fff;
  padding: 0;
  margin: 0;
}

.dark-mode .tooltip-info {
  background-color: #1d1d1d;
  color: #fff;
  border: 1px solid #fff;
  padding: 3px 6px;
  border-radius: 5px;
  position: fixed;
  visibility: hidden;
  font-size: 13px;
  z-index: 10;
}

.footer {
  display: flex;
  height: auto;
  align-items: center;
  flex-direction: row;
  background-color: var(--secundario);
}

.tooltip-info {
  background-color: var(--secundario);
  color: #fff;
  border: 1px solid #fff;
  padding: 3px 6px;
  border-radius: 5px;
  position: fixed;
  visibility: hidden;
  font-size: 13px;
  z-index: 10;
}

.tooltip-box:hover .tooltip-info {
  visibility: visible;
}

.github {
  width: 25px;
  filter: invert(73%) sepia(98%) saturate(1%) hue-rotate(32deg) brightness(103%) contrast(89%);
}

.github:hover {
  transform: scale(1.5);
}

.aluracursos {
  width: 17px;
  filter: invert(16%) sepia(45%) saturate(2765%) hue-rotate(196deg) brightness(94%) contrast(97%);
  ;

}

.aluracursos:hover {
  transform: scale(1.5);
}


.linkedin {
  width: 25px;
  filter: invert(15%) sepia(60%) saturate(6697%) hue-rotate(221deg) brightness(100%) contrast(97%);
}

.linkedin:hover {
  transform: scale(1.5);
}


.udemy {
  width: 80px;
  filter: invert(55%) sepia(47%) saturate(5746%) hue-rotate(64deg) brightness(99%) contrast(80%);
  -webkit-filter: invert(55%) sepia(47%) saturate(5746%) hue-rotate(64deg) brightness(99%) contrast(80%);
}

.udemy:hover {
  transform: scale(1.5);
}




@media (max-width: 768px) {
  h1 {
    display: none;
  }

  /* body {
    background: url(../img/hacker-removebg-preview.png) no-repeat center center fixed;
    background-size: cover;
  }*/
  .dark-mode main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dark-mode .container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .dark-mode .encriptar {
    width: 80vw;
    height: 200px;
  }

  .dark-mode .desencriptar {
    width: 80vw;
    height: 300px;
  }

  .dark-mode .exterminator {
    width: 200px;
  }

  .dark-mode .leyenda {
    font-size: 12px;
    color: #fff;
  }

  .dark-mode button {
    width: 110px;
    font-size: 11px;
    padding: 10px;

    user-select: none;
  }


  .dark-mode .light {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .dark-mode .light i {
    font-size: 25px;
    transition: color 0.3s;
    margin-bottom: 20px;
  }


  .dark-mode #resultado {
    font-size: 1.1em;
    color: #fff;
    padding: 0;
    margin: 0;
  }


}



.desencriptar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.dark-mode .btns {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 12px 0;
  margin-top: 20px;
  align-items: center;
}

.leyenda {
  font-size: 14px;
  color: #fff;
}

.dark-mode #resultado {
  font-size: 1.3em;
  color: #fff;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.exterminator {
  width: 200px;
  border-radius: 13px;
  filter: drop-shadow(0 0 12px #000);

}

.footer {
  display: flex;
  height: auto;
  align-items: center;
  flex-direction: row;
  background-color: var(--secundario);
}


.footer .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 22px 0 0 11px;
  justify-content: center;
}


.logo-footer {
  padding: 0 35px;
}

.dark-mode .copy {
  font-size: 18px;
  padding: 0;
  color: aqua;
  font-weight: bold;
  padding: 10px;
}


.dark-mode .nav a {
  display: flex;
  color: #fff;
  margin: 6px 0;
  cursor: pointer;
}